*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #5cdb95;
}

.navbar{
    background-color: #5cdb95;
}

.navbar-brand{
    font-weight: 500;
    color: #05386b;
    font-size: 24px;
    transition: 0.3s color;
    margin-left: 50;
    font-family: 'Protest Revolution', sans-serif;

}
.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}

.nav-link{
    color: #05386b;
    font-weight: 500;
    position: relative;
    font-family: 'Protest Revolution', sans-serif;

}

.nav-link:hover, .nav-link.active{
    color: #000;

}

@media (min-width: 991px){
.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #666777;
    visibility: hidden;
    transition: 0.3s ease-in-out;

}
}

.nav-link:hover::before{
    width: 100%;
    visibility: visible;
}

.cart{
    margin-right: 50px;
    color: #009970;
    cursor: pointer;
}

.main-container{
    display: flex;
    justify-self: center;
    padding: 100px;
}

.hero-section{
    width: 500px;
    padding: 20px;
    font-size: 24px;
    min-width: 200px;
    min-height: 500px;
    font-family: 'Protest Revolution', sans-serif;
    color: #edf5e1;
}

.menu-container{
    display: flex;
    justify-self: center;
    padding: 100px;
}

.menu-header, h2, h3, p {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Protest Revolution', sans-serif;
    flex-wrap: wrap;
    color: #05386b;
}

.food-menu{
    justify-content: center;
    display: flex;
    align-items: center;
}



.starter{
    display: flex;
    width: auto;
    padding: 20px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    color: #05386b;
}